
.container{
    display: grid;
    place-content: center;
    height: 100vh;
    text-align: center;
}

.h1{
    font-size: 4em;
    margin-bottom: 0.5rem;
    /* background: linear-gradient(120deg, rgb(220, 247, 99), rgb(20, 92, 158));
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.h2{
    margin-bottom: 1rem;
    font-size: 2em;
}

.bio{
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: large;
}

