
.container{
    display: grid;
    place-content: center;
    height: 100vh;
    text-align: center;
}

.h1{
    font-size: 4em;
    margin-bottom: 0.5rem;
}

.h2{
    margin-bottom: 1rem;
    font-size: 2em;
}

.bio{
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: large;
}

