.container{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav{
    display: flex;
    justify-content: center;
    height: 4em;
    row-gap: 20px;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    align-items: flex-start;
    backdrop-filter: blur(10px);
}

.link{
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: underline;
}

.link:hover{
    color: blueviolet;
}