.container{
    display: grid;
    height: 80vh;
    margin-top: 2em;
    row-gap: 1.75rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-content: start;
}

.header{
    padding-top: 1em;
    text-align: center;
    letter-spacing: 0.25rem;
}

.project{
    place-self: start;
    margin: 0 1rem;
}

.arrow{
    font-size: larger;
    margin-left: 1px;
}

.projectTitle{
    margin-bottom: 0.5rem;
}

.projectDescription{
    line-height: 1.5em;
    margin-bottom: 1rem;
}

.technologies{
    display: flex;
    flex-wrap: wrap;
}

.technologies span{
    margin-right: 10px;
    margin-top: 10px;
    background-color: #92DCE5;
    color: black;
    padding: 5px 10px;
    border-radius: 15px;
}

.cell{
    box-shadow: 0px 0px 10px 1px #145C9E;
    border-radius: 10px;
    padding: 1rem;
}

.cell:hover{
    scale: 1.01;
}

.cell:hover .arrow{
    color: #145C9E;
}